@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Cloud FTP Bridge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav justify-content-end">
                <NavLink class="nav-link" href="audit-log">Audit Log</NavLink>
                <NavLink class="nav-link" href="workflows">Workflows</NavLink>
            </div>
        </div>
    </nav>

    <main class="flex-grow-1 p-4">
        @Body
    </main>

    <footer class="bg-light">
        <div class="text-center text-muted" style="font-size:0.75rem;">
            <span>v2.0.0</span>
            <span>&nbsp; | &nbsp;</span>
            <span>
                <a class="btn btn-sm btn-link" href="" target="_blank">Documentation</a>
            </span>
            <span>&nbsp; | &nbsp;</span>
            <span>
                <a class="btn btn-sm btn-link" href="" target="_blank">Source</a>
            </span>
        </div>
    </footer>

</div>
